{%load static%}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Avançada</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}"/>
    <link rel="stylesheet" href="{%static 'css/calculadora/calculadora.css'%}" />
</head>
<body data-id_usuario="{{id_usuario}}">
    {%include 'partials/header.html'%}
    <main>
        <h1>Calculadora Avançada</h1>
        <div class="container-calculadora">
            <div class="calculadora">
                <!-- Adaptado para que os leitores de tela informem quando o conteúdo do visor for alterado-->
                <div id="visor" class="visor" aria-live="assertive">0</div>
        
                <div class="botoes">
                    <!-- Adaptado com aria-label para mostrar um texto, pois o C não fica claro para leitores de tela.-->
                    <button type="button" class="botao botao-vermelho" aria-label="Limpar calculadora" data-valor="C">C</button>
                    <!-- Adaptado com aria-label para esclarecer a usuários cegos o que significa o sinal-->
                    <button type="button" class="botao botao-inverter" aria-label="Inverter sinal" data-valor="±">±</button>
                    <button type="button" class="botao" data-valor="%">%</button>
                    <button type="button" class="botao botao-operador" data-valor="÷">÷</button>
    
                    <button type="button" class="botao" data-valor="7">7</button>
                    <button type="button" class="botao" data-valor="8">8</button>
                    <button type="button" class="botao" data-valor="9">9</button>
                    <button type="button" class="botao botao-operador" data-valor="×">×</button>
    
                    <button type="button" class="botao" data-valor="4">4</button>
                    <button type="button" class="botao" data-valor="5">5</button>
                    <button type="button" class="botao" data-valor="6">6</button>
                    <button type="button" class="botao botao-operador" data-valor="−">−</button>
    
                    <button type="button" class="botao" data-valor="1">1</button>
                    <button type="button" class="botao" data-valor="2">2</button>
                    <button type="button" class="botao" data-valor="3">3</button>
                    <button type="button" class="botao botao-operador" data-valor="+">+</button>
    
                    <button type="button" class="botao botao-grande" data-valor="0">0</button>
                    <!-- Adaptado com aria-label, para que usuários com deficiência visual não confundam com o sinal de vezes-->
                    <button type="button" class="botao" aria-label="Ponto decimal" data-valor=".">.</button>
    
                    <button type="button" class="botao botao-igual">=</button>
                </div>
            </div>
        
            <div class="historico">
                <h2>Histórico</h2>
                <!-- Como os leitores de tela não podem entender perfeitamente ícones, o aria-label também foi adicionado-->
                <button class="botao-lixeira" aria-label="Apagar histórico">
                    🗑️
                </button>
                <ul id="lista-historico">
                </ul>
            </div>
        </div>
    </main>
    
    <script src="{%static 'js/calculadora/calculadora.js'%}"></script>
</body>
</html>